html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    font-family: 'Raleway';
}
.hidden{
    @include hidden();
}
.wrapper{
    width: 940px;
    margin: 0 auto;

    &--big{
        width: 1200px;
    }
}

.content{
    line-height: 1.35em;
    a{
        color: $cBlueGrey;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    p, ul, ol, h1, h2, h3, h4{
        & + p,
        & + ul,
        & + ol,
        & + h1,
        & + h2,
        & + h3,
        & + h4{
            margin-top: 1em;
        }
    }
    ol, ul{
        padding: 1em 1em ;
        li{
            list-style-type: disc;
            list-style-position: inside;

        }
        li + li {
            margin-top: 0.5em;
        }
    }
    strong, b {
        font-weight: 700;
    }

    em, i{
        font-style: italic;
    }
}
